body
{
    background : url("fond.jpg");
	background-size: cover;
}

strong
{
	font-size : 2em; 
	font-family : "Times New Roman", serif;
	font-weight : bold;
}

.imageflottante
{
	float : right;
	border-radius : 90px;
}

h1 
{
	color : #0000CD;
	font-size : 3.5em;
	font-family : "Comic Sans MS", "Arial Black", "Times New Roman", serif;
	text-align : center;
	padding : 12px;
}

h2
{
	font-size : 2em; 
	font-family : "Comic Sans MS", serif;
	background-color : #0000CD;
    color : white;
    padding : 8px;
    box-shadow : 4px 4px 4px #D3D3D3;
}

ul
{
	background-color: #D3D3D3;
	padding : 8px;
	padding-left : 24px;
	box-shadow : 4px 4px 4px #0000CD;
}

#conteneur
{
    display : flex;
/*    
	flex-direction : row;
	flex-wrap : nowrap;
    justify-content : space-around;
    align-items : center;
*/
}

.element
{
    margin: auto;
}

p
{
	margin : 50px;
}

a:hover
{
  	color : purple;
}

footer
{
	font-size : 1.5em; 
	text-align : center;
    margin : 50px;	
}

@media all and (max-width : 1680px)
{
	#conteneur
	{
	    display : flex;    
		flex-direction : column;
		flex-wrap : nowrap;
	    justify-content : space-around;
	    align-items : center;
	}

	.element
	{
	    margin: auto;
	}
}